{! Used to render the Google Maps Info Window displayed on
   map pin click

   @author deflume1
   @since 2/2012
!}

<div id='INFO'>
  <div class='name'>
    {name}
  </div>

  <div class='address'>
    {address}
  </div>
</div>
