{! Used to render the list of markets in the left sidebar

   @author deflume1
   @since 2/2015
!}

<div class="resultsList">

Found {@size key=results /} markets!

<ul>
{#results}
  <li data-id="{id}" data-name="{name}" class='entry'>
   <div class='name'>
     {name}
   </div>
   <div class='distance'>
     {milesFromCenter} miles
   </div>
  </li>
{/results}
</ul>
</div>
