/* 
 * style.css
 *
 * Primary stylesheet for The Market Farmer
 *
 * @author deflume1
 * @since 2/2015
 */

body {
  width : 1000px;
  margin-left: 100px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #FFFAF0;
}

.wrap {
  overflow : hidden;
  height : 100%;
}

.header {
  border-bottom: 1px solid;
}

.main {
  height: 700px;
}

#MAIN .search {
  width : 25%;
  float: left;
}

#MAIN .map {
  width : 75%;
  float: left;
  height: 600px;
}

#MAIN #SEARCH #ZIP .zip {
  width: 50px;
}

#MAIN #MARKET_DATA .resultsList {
  height : 200px;
  overflow-y : scroll;
  margin-top: 10px;
}

#MAIN #MARKET_DATA .resultsList ul {
 list-style-type : none;
 padding-left : 0;
 border : 1px solid #2c2c2c;
 border-radius: 2px;
}

#MAIN #MARKET_DATA .resultsList .entry {
  padding-bottom : 5px;
  border-bottom : 1px solid #2c2c2c;
  padding : 3px;
  cursor: pointer;
}

#MAIN #MARKET_DATA .resultsList .entry:hover ,  #MAIN #MARKET_DATA .resultsList .entry.selected {
  background-color: #d2d2d2;
}

#MAIN #MARKET_DATA .resultsList .entry .name {
  padding-bottom : 5px;
}

#MAIN #MARKET_DETAILS .details {
  margin-top: 20px;
}

#MAIN #MARKET_DETAILS .details ul {
  height: 160px;
  overflow-y: scroll;
}

#MAIN #MARKET_DETAILS .details .item {
  margin: 5px;
}

#INFO {
  width: 200px;
}

#INFO .name {
  margin-bottom: 5px;
}

#LEARN_MORE {
  width : 800px;
}

#LEARN_MORE .note {
  padding-top: 5px;
  padding-bottom: 5px;
}

#FOOTER {
  margin-top : 20px;
}
